settings:
  # sleep_for x minutes before running again
  sleep_for_in_minutes: 10
  # Look for favorited tweets amongst the n last timeline tweets
  last_tweets_cout: 1000
  # only favorite tweets that where twitted n minutes ago
  time_limit_in_minutes: 120
  # only favorite tweets that already have n favorites
  min_favorites_count: 10
  # only favorite tweets that already have n retweets
  min_retweets_count: 5
twitter_creds:
  access_token: xxx
  access_token_secret: yyy
  consumer_key: xxx
  consumer_secret: yyy
